@model DotnetCamp.Instagram.Models.MeViewModels.UploadPictureViewModel

@{
    ViewData["Title"] = "View";
}

<header id="header">
    <h1>INSTAGRAM</h1>
    <p>Upload your Instagram photos.</p>
</header>
<section id="content">
    <form asp-controller="me" asp-action="SaveUploadedFile"
          class="dropzone" id="UploadForm" enctype="multipart/form-data">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>
</section>
<section class="actions">
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>

@section Scripts {
    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
